[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "kiero"]
	path = kiero
	url = https://github.com/Starhaxor/kiero.git
[submodule "minhook"]
	path = minhook
	url = https://github.com/TsudaKageyu/minhook.git
